@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-primary: #a58376;
  --theme-primary-active: #c48b6a;
  --theme-primary-hover: #9d6f55;
  --theme-primary-bg-body: #131313;
  --theme-primary-bg-hover: #262626;
}

body {
  @apply bg-[var(--theme-primary-bg-body)] text-white;
  font-family: 'Poppins', sans-serif;
}


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Components - Button */

.btn {
  @apply relative uppercase px-4 py-2 text-white rounded-lg transition-colors duration-300 ease-in-out;
}

.btn::after {
  @apply content-[''] absolute bottom-0 right-1 w-[2px] h-0 transition-all duration-500 ease-in-out;
}

.btn::before {
  @apply content-[''] absolute top-0 right-[6px] w-[2px] h-0 transition-all duration-500 ease-in-out;
}

.btn:hover {
  @apply bg-[var(--theme-primary-bg-hover)];
}

.btn:hover::after {
  @apply bg-[var(--theme-primary)] h-full;
}

.btn:hover::before {
  @apply bg-white h-full;
}

/* Fim Componentes - Button */

/* Components - Content with Sidebar */

.content-with-sidebar {
  @apply container mx-auto px-4 py-8;
}

.content-with-sidebar__wrapper {
  @apply flex flex-col gap-8;
  @apply lg:flex-row;
}

.content-with-sidebar__main {
  @apply w-full -mt-32;
  @apply md:w-[70%] md:-mt-[32rem];
}

.content-with-sidebar__sidebar {
  @apply w-full;
  @apply md:w-[30%];
}

.sidebar {
  @apply flex flex-col gap-6;
}

/* Fim Componentes - Content with Sidebar */
